.user-list-container {
  padding: 20px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Max 5 cards per row */
  gap: 1px;
  /* margin-top: 10px; */
}

.user-card {
  width: 234px;
  /* margin: 80px auto !important; */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  /* padding: 16px; */
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-card img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h3 {
  margin: 10px 0 5px;
}

.user-card p {
  color: #666;
  font-size: 14px;
}

.load-more-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color:  #193b54;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color:  #193b54;
}

